#faq {
  > header {
    // Extra padding for the background picture to look better because title is on 1 line only
    padding-top: 6.5%;

    @include large-screen {
      padding-top: 0;
    }
  }

  .btn-primary {
    margin-bottom: $content-element-margin-bottom * 2;
  }
}
