@mixin link-icon {
  vertical-align: super;
  font-size: 0.6em;
  margin-left: 0.1em;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  cursor: pointer; // To have the pointer on anchors which don't have any href
  text-decoration: none;
}

a,
a:visited {
  color: $action-color;
}

a:hover,
a:focus,
a:active {
  background-color: $action-color;
  color: $background-body-color;
}

a:hover,
a:active {
  &:after {
    @include link-icon;
    @include icon-font($fa-var-link);
  }
}

a[target="_blank"] {
  &:hover,
  &:active {
    &:after {
      @include icon-font($fa-var-external-link-square);
    }
  }
}

a[href^="#"]:after {
  @include link-icon;
  @include icon-font($fa-var-arrows-v);
}

a[href^="mailto:"] {
  &:hover,
  &:active {
    &:after {
      @include icon-font($fa-var-envelope);
    }
  }
}
