#all-pages-as-single > li {
  > h1,
  > article {
    $section-padding-top: $spacer-unit-size * 6;
    $section-padding-bottom: $spacer-unit-size * 2.5;

    padding: $section-padding-top $spacer-unit-size $section-padding-bottom $spacer-unit-size;

    @include medium-screen {
      padding-top: $section-padding-top * $medium-screen-ratio-l;
      padding-bottom: $section-padding-bottom * $medium-screen-ratio-l;

      width: $medium-content-width;

      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
    }

    @include large-screen {
      width: $large-content-width;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        margin-top: 0;
      }
    }

    // To disable the stupid "width" and "height" attributes added by the Wordpress composer on images
    img {
      width: auto;
      height: auto;
    }

    ul,
    ol {
      > li {
        margin-top: 1em;
      }
    }

    strong {
      background-color: transparentize($action-color, 0.6);
      font-weight: normal;
      padding: 0.2em;
    }
  }
}
